@using Microsoft.AspNetCore.Identity
@using Todo.Infrastructure.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav align-items-lg-center gap-2">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link app-user-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <i class="bi bi-person-circle"></i> @User.Identity?.Name
        </a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Todos", new { area = "" })">
            <button type="submit" class="btn btn-outline-light btn-sm">
                <i class="bi bi-box-arrow-right"></i> Logga ut
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-outline-light btn-sm" asp-area="Identity" asp-page="/Account/Register">Registrera</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary btn-sm" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
    </li>
}
</ul>
